---
import Button from './Button.astro'
import { Icon } from 'astro-icon/components'
---

<section
  class="xs:h-fit xs:pt-12 xs:pb-28 xs:gap-12 mx-auto flex min-h-screen max-w-7xl flex-col-reverse items-center gap-6 px-4 pt-4 pb-10 sm:px-6 md:flex-row lg:px-8"
>
  <div class="flex-1 text-center md:text-left">
    <h4 class="font-black text-[#1A3626]">RESET</h4>
    <span
      class="mb-4 block text-sm font-semibold tracking-wider text-[#B08968] uppercase"
    >
      O intestino a favor do seu emagrecimento</span
    >
    <h1
      class="mb-6 font-serif text-4xl leading-tight font-bold text-gray-900 md:text-5xl lg:text-6xl"
    >
      Conquiste sua melhor versão sem dietas restritivas.
    </h1>
    <p class="mx-auto mb-8 max-w-xl text-lg text-gray-600 md:mx-0">
      Um método validado para acabar com o inchaço, recuperar sua energia e
      transformar sua relação com a comida em apenas <span class="font-bold"
        >2 etapas</span
      >.
    </p>
    <Button href="#checkout" text="Quero Começar Agora" />
    <p
      class="mt-4 flex items-center justify-center gap-2 text-xs text-gray-500 md:justify-start"
    >
      <Icon name="lucide:check" class="h-4 w-4 text-[#1A3626]" />
      Acesso imediato após a compra
    </p>
  </div>
  <div class="w-full max-w-md md:max-w-full md:flex-1">
    <div
      class="relative aspect-4/3 overflow-hidden rounded-full rounded-b-3xl bg-[#F5EBE6] shadow-2xl md:aspect-4/5"
    >
      <img
        src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?q=80&w=800&auto=format&fit=crop"
        alt="Mulher sorrindo comendo refeição saudável"
        class="h-full w-full rounded-2xl object-cover opacity-90"
      />
      <div
        class="absolute inset-0 rounded-2xl bg-linear-to-t from-[#2C4C3B]/40 to-transparent"
      >
      </div>
    </div>
  </div>
</section>
