---
import Button from './Button.astro'
---

<header
  class="border-surface-alt bg-surface/90 fixed top-0 z-50 hidden w-full border-b backdrop-blur-md md:block"
>
  <div
    class="mx-auto flex h-20 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8"
  >
    <div class="text-primary font-serif text-xl font-bold">
      Fabiana Kirch | Nutricionista - Programa RESET
    </div>
    <nav>
      <Button className="px-6 py-2 text-sm shadow-none" />
    </nav>
  </div>
</header>
