---
import Button from './Button.astro'
---

<header
  class="fixed top-0 z-50 hidden w-full border-b border-[#F5EBE6] bg-[#FDFBF7]/90 backdrop-blur-md md:block"
>
  <div
    class="mx-auto flex h-20 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8"
  >
    <div class="font-serif text-xl font-bold text-[#1A3626]">
      Fabiana Kirch - Método RESET
    </div>
    <nav>
      <Button
        href="#checkout"
        text="Quero Começar Agora"
        className="px-6 py-2 text-sm shadow-none"
      />
    </nav>
  </div>
</header>
