---
import Button from './Button.astro'
---

<header
  class="fixed w-full top-0 z-50 bg-[#FDFBF7]/90 backdrop-blur-md border-b border-[#F5EBE6]"
>
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-20 flex items-center justify-between"
  >
    <div class="text-2xl font-serif font-bold text-[#1A3626]">NutriName.</div>
    <nav>
      <Button
        href="#checkout"
        text="Quero Começar Agora"
        className="py-2 px-6 text-sm shadow-none"
      />
    </nav>
  </div>
</header>
