---
import Button from './Button.astro'
---

<section class="px-4 pb-16 text-center">
  <h2 class="text-primary mb-6 font-serif text-2xl font-bold">
    Se identificou? Então o RESET é para você!
  </h2>
  <Button />
</section>
