---
import Button from './Button.astro'
---

<section class="px-4 pt-20 pb-36 text-center" data-animate>
  <h2 class="text-primary mb-6 text-2xl font-bold">
    Se identificou? Então o RESET é para você!
  </h2>
  <Button />
</section>
